body{
    background-image: linear-gradient(
          to right bottom, 
          #118ab2, 
          #0e92b9, 
          #0b99c1, 
          #07a1c8,
          #03a9cf, 
          #37b0d8,
          #51b8e1, 
          #66bfe9, 
          #8cc7f2, 
          #accff8,
          #c7d8fc, 
          #dee2ff
    );
}
.myDiv{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
}
h1{
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 50px;
    font-family: "Kristen ITC", "Courier New", fantasy;
    font-size: 50px;
    background-color: none;
}
h2{
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 20px;
    font-family: "Kristen ITC", "Courier New", fantasy;
    font-size: 20px;
    background-color: none;
}
h3{
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 20px;
    font-family: "Kristen ITC", "Courier New", fantasy;
    font-size: 30px;
    background-color: none;
}
p{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
  border: none;
  background-color: rgb(197, 214, 239);
  padding: 10px 20px;
  font-size: 25px;
  font-family: "Georgia", "Courier New", fantasy;;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: rgb(7, 231, 213)}

.foreign_music {color: black;}
.listen {color: black;}
.watch {color: black;}
.book {color:black;}
.order{color:black}
.abt{color:black}